* {
   font-family: "padauk";
}

a {
   text-decoration: none;
   color: grey;
}

.para {
   text-align: justify;
   line-height: 30px;
}

.linkDisable {
   cursor: pointer;
}

.loadingBox{
   position:absolute;
   z-index:10000;
   left:50%;
   top:50%;
   transform:translate(-50%,-50%)
}
.loadingBox > img{
   width:200px;
   height:150px;
   border-radius:150px;
}
.fixedHeight{
   min-height:600px;
}